@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(255, 254, 234);
}

/* .container {
  padding: 20px;
} */

#add-div {
  background-color: rgb(214, 253, 253);
  width: 100%;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

h1 {
  padding-bottom: 10px;
  text-align: center;
}

#add-div {
  padding: 20px;
  text-align: center;
}

#list {
  padding: 20px;
}

table {
  text-align: center;
  border: none;
  border-spacing: 0;
  width: 450px;
}

th, td {
  border: none;
  padding: 5px;
}

td {
  text-align: left;
  border-bottom: solid 1px grey;
  padding: 20px;
}

tr[draggable="true"] {
  cursor: grab;

  &:active {
    cursor: grabbing
  }
}

button {
  padding: 2px 4px;
  border: none;
  background: none;
  
  &:hover {
    cursor: pointer;
  }
}

button.sort-button {
  background-color: rgb(252, 218, 255);
  border-radius: 5px;
}

#restore-link {
  padding-bottom: 15px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: .8em;
  padding: 5px;
}

#restore-link {
  padding: 20px;
}