@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(255, 254, 234);
  width: 100%;
}

.container {
  background-color: rgb(215, 209, 245);
  margin: 12px;
  width: 95%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#filters {
  display: flex;
  width: 100%;
  width: 350px;
  margin: auto;
  justify-content: space-between;
}

#add-div {
  width: 100%;
  width: 350px;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}

h1 {
  padding-bottom: 20px;
  text-align: center;
}

#add-div {
  padding: 20px;
  text-align: center;
}

#list {
  width: 80%;
  margin: 20px 10px 20px;
  padding: 0px 10px 20px;
  border-radius: 5px;
  background-color: rgb(255, 254, 185);
  
}

table {
  text-align: center;
  margin: auto;
  border: none;
  border-spacing: 0;
  width: 90%;
}

table td:nth-child(1) {
  width: 95%;
}

@media (max-width: 481px) {
  .container {
    margin: 0;
    width: 100%;
    margin-bottom: 10px;

  }
  #list {
    width: 90%;
  }
  table {
    width: 95%;
    margin: auto;
  }
  #filters {
    width: 90%;
  }
}
th, td {
  border: none;
  padding: 5px;
}

td {
  text-align: left;
  border-bottom: solid 1px grey;
  padding: 20px;
  word-break: break-all;
}

tr[draggable="true"] {
  cursor: grab;

  &:active {
    cursor: grabbing
  }
}

button {
  padding: 3px 5px;
  border: none;
  background: none;
  
  &:hover {
    cursor: pointer;
  }
}

button.sort-button {
  background-color: rgb(162, 243, 236);
  border: solid 2px rgb(218, 166, 213);
  border-radius: 5px;

  &:active {
    background-color: rgb(65, 216, 203);
  }
}

#restore-link {
  padding-bottom: 15px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#restore-link a {
  text-decoration: none;
  border: 1px solid rgb(26, 61, 136);
  border-radius: 5px;
  padding: 5px 10px;
  color:rgb(38, 99, 168);
  background-color:rgb(245, 222, 243);
  font-weight: 12px;

  &:active {
    background-color:rgb(218, 166, 213);
  }

}


footer {
  text-align: center;
  font-size: .8em;
  padding: 5px;
}
